<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Sole Search API .ejs</h1>

    <ul class="shoes">
        <% for(let i=0; i < info.length; i++) {%>
            <li class="shoes">
                <span><%= info[i].releaseName %></span>
                <span><%= info[i].brand %></span>
                <span><%= info[i].releaseDate %></span>
                <span><%= info[i].sizes %></span>

                
                <!-- <span class='fa fa-thumbs-up'></span>
                <span class='fa fa-trash'></span>
                <span class='updateBtn'>update</span> -->
            </li>
        <% } %>
    </ul>

    <form action="/addShoe" method="POST">
        <input type="text" placeholder="Brand" name="brand"><br>
        <input type="text" placeholder="Release Name" name="releaseName"><br>
        <input type="date" placeholder="Release Date" name="releaseDate"><br>
        <!-- <input type="text" placeholder="Sizing (Men's, Women's, GS (Grade School), Y (Youth) " name="sizing"> -->
        <!-- <p>Sizes Available</p> -->
        <input type="radio" id="mens" name="sizing" value="mens">
        <label for="mens">Men's</label>
        <input type="radio" id="womens" name="sizing" value="womens">
        <label for="womens">Women's</label>
        <input type="radio" id="gradeSchool" name="sizing" value="gradeSchool">
        <label for="gradeSchool">GS (Grade School)</label>
        <input type="radio" id="youth" name="sizing" value="youth">
        <label for="youth">Y (Youth)</label><br><br><br>
        <input type="submit">
    </form>

    
</body>
</html>