<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Sole Search API .ejs</h1>

    <ul class="shoes">
        <% for(let i=0; i < info.length; i++) {%>
            <li class="shoes">
                <span><%= info[i].releaseName %></span>
                <span><%= info[i].brand %></span>
                <span><%= info[i].releaseDate %></span>
                <span><%= info[i].sizes %></span>

                
                <!-- <span class='fa fa-thumbs-up'></span>
                <span class='fa fa-trash'></span>
                <span class='updateBtn'>update</span> -->
            </li>
        <% } %>
        </ul>
    
</body>
</html>